/**
 * Foundation(ish) Reveal styles.
 */

/* Layers */

@layer reveal;
@layer
    reveal.reset,
    reveal.tokens,
    reveal.core,
    reveal.theme,
    reveal.state,
    reveal.utilities,
    reveal.demo;

@import "./styles/reset.css" layer(reveal.reset);


@layer reveal.tokens {
    :host,
    reveal-dialog  {
        --reveal-display-timing: 2s;
        --reveal-display-delay: 0.1s;
        --reveal-backdrop-blur: 2px;
        --reveal-backdrop-display-timing: 0.25s;

        /* 1. Colours */
        --color-primary: hsl(210 100% 80.6%); /* #9cceff */

        --color-softwhite: #f5f5ed;
        --color-grey: rgb(170, 170, 170);

        --color-focus: #0071e3;
        --color-amber: #ffe082;
        --color-gray-3:  hsl(0, 0%, 86%);       /* gainsboro (#dcdcdc) */

        /* 2. Typography */
        --font-serif: "PT Serif", Georgia, Palatino, "Palatino Linotype", serif;
        --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;

        /* 3. Sizing */
        --container-width-xs: calc(710 / 16 * 1rem); /* 710px */
        --container-width-sm: calc(960 / 16 * 1rem); /* 960px */
        --container-width: calc(1440 / 16 * 1rem); /* 1440px */
        --container-width-lg: calc(1872 / 16 * 1rem); /* 1872px */
    }
}


@layer reveal.core {

    :host,
    reveal-dialog {
        font-family: var(--font-sans);
        font-size: 16px; /* Alternative 16px × 0.625 = 10px → 1rem = 10px */
        line-height: var(--reset-body-line-height, 1.5);
        display: block;
        position: relative;
    }

}


@layer reveal.theme {
    :root:has(dialog.full-page) {
        /* transition: var(--reveal-display-timing) filter ease-in; */
    }

    :root.has-open-modal[class] {
        overflow: hidden;
        /* filter: blur(var(--reveal-backdrop-blur)); */
    }

    button {
        cursor: pointer;
    }

    dialog {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: min(800px, 100dvw);

        background-color: #fff;
        padding: 1rem 2rem;
        color: black;
        outline: none;
        border: none;
        border-radius: 24px;

        /* user agent styles */
        max-width: calc(100% - 2em - 6px);
        max-height: calc(100% - 2em - 6px);

        & > div:first-child {
            display: flex;
            flex-flow: column nowrap;
        }

        a::after {
            display: none;
        }

        ul {
            margin-inline: 0;
            padding-inline: 0;
        }
    }

    /* Full Page Modal */
    dialog[aria-modal="true"].full-page {
        --max-width: calc(960 / 16 * 1rem);
        --offset-y: 2.65rem;
        --scrollbar-gutter-width: 1rem;

        background-color: transparent;
        border-radius: 0;

        /* reset user agent styles */
        max-width: unset;
        max-height: unset;

        /* setup */
        width: 100dvw;
        padding: 0;

        /* prevent shift off-screen */
        inset: 0;
        transform: none;

        /* 1. The secret sauce that allows scroll */
        height: 100%; /* fallback */
        height: 100dvh;
        overflow: hidden;

        transform: translate(0, 148px);

        /*
            Animate dialog
        */

        opacity: 0;
        transition: opacity 0.2s,
                    display var(--reveal-display-timing, 0.5s) allow-discrete,
                    overlay var(--reveal-display-timing, 0.5s) allow-discrete,
                    transform 0.5s;

        &[open] {
            opacity: 1;
            transform: translate(0, 0);

            @starting-style {
                & {
                    opacity: 0;
                }
            }
        }

        /*
            Animate dialog backdrop
        */
        &::backdrop {
            opacity: 0;
            backdrop-filter: blur(var(--reveal-backdrop-blur));
            background-color: rgba(201, 201, 201, 0.879);
            will-change: opacity;

            transition:
                display var(--reveal-backdrop-display-timing, 0.5s),
                overlay var(--reveal-backdrop-display-timing, 0.5s), /* required */
                opacity var(--reveal-backdrop-display-timing, 0.5s), /* required */
                backdrop-filter var(--reveal-backdrop-display-timing, 0.5s);

            transition-behavior: allow-discrete;
        }

        /* On open, transition to... */
        &[open]::backdrop {
            /* backdrop-filter: blur(2px); */
            /* background-color: rgba( 0 0 0 / 75% ); */
            opacity: 1;
        }

        /* On open, starting-style */
        @starting-style {
            &[open]::backdrop {
                opacity: 0;
            }
        }

        .dialog-page {
            position: relative;

            /* 2. The secret sauce that allows scroll */
            height: calc(100dvh);
            overflow: auto;

            /* Scrollbar gutter */
            padding-inline-end: var(--scrollbar-gutter-width);
        }

        .dialog-container {
            padding-top: var(--offset-y);
        }

        .dialog-body {
            overflow: clip;
            width: min( calc(100dvw - var(--scrollbar-gutter-width) * 3), var(--max-width));
            background-color: rgb(252 252 252);
            /* backdrop-filter: blur(30px); */
            color: var(--color-black);
            outline: none;
            border: none;
            border-radius: 1.5rem;
            margin-bottom: var(--offset-y);

            /* center */
            margin-inline: auto;

            /* Fix body horzontal centering related to the scroll gutter */
            transform: translateX(calc(var(--scrollbar-gutter-width) / 2) );

            @media (width <= 640px) {
                width: 100dvw;
                transform:none;
            }
        }

        .dialog-header {
            display: flex;
            align-items: flex-start;
            position: sticky;
            top: 0;
            z-index: 2;
            padding: 1rem 2rem 0.5rem 2rem;

            & h2 {
                font-family: var(--font-handwritten);
                font-size: 2rem;
                font-weight: normal;
                margin-block: 0;
                transform: translate(40px, 6.5px);

                /* Pre scroll shrink animation */
                transition: 0.4s font-size;
                font-size: 4em;
            }
        }

        .dialog-content {
            padding: 0.75rem 4.75rem 4rem;

            @media (width <= 780px) {
                padding: 0.75rem 3.5rem 4rem;
            }
        }

        .close {
            padding-inline: 0.7rem;
            transform: translateX(1rem);
        }
    }

    dialog[aria-modal="true"].full-height {
        .dialog-container {
            min-height: 100%;
        }
        .dialog-body {
            min-height: 100%;
        }
        .dialog-content {
            min-height: 200%;
        }
    }

    /* Close button */
    :where(button).close {
        display: inline-flex;
        margin-left: auto;
        padding: 0.25rem 1.75rem;
        outline: 2px solid var(--color-gray-3);
        border-radius: 999px;
        cursor: pointer;
        font-weight: bold;
        text-decoration: none;

        @media (prefers-contrast: more) {
            outline: 3px solid var(--color-secondary);
        }

        &:hover {
            background-color: rgba(156, 206, 255, 0.1);
            background-color: color-mix(in srgb, var(--color-primary) 10%, transparent);
        }

        &:focus {
            background-color: black;
            color: white;
        }
    }
}